/* GERAL */
body{
    background-color: #f3f8f4;
}

* {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.1em;
    margin: 0;
}

h1,h2,h3,h4,h5{
    text-align: center;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 22px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha:not(.btn-principal){
    margin: 30px auto;;
}

/* BOTÃO */
button {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    background-color: #244235;
    position: relative;
    color: #f3f8f4;
    transition: .4s ease;
}

button:hover{
background-color: #111a17;
}



.areaBotoes button:not(:last-of-type) {
    margin-right: 5px;
}

/* CONTEUDO */
.conteudo-principal {
    max-width: 600px;
    width: 90%;
    margin: 50px auto;
    position: relative;
    padding: 40px 15px;
    background: #8500ff;
    border-radius: 2px;
}

/* BOTOES PRINCIPAIS */
.btn-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* TEXTAREA */
.texto textarea {
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid #d3d3d3;
    resize: none;
    box-sizing: border-box;
    border-radius: 2px;
    overflow: hidden;
}

/* TAREFA */
.tarefa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 15px;
    background: #f7f7f7;
}

.tarefa.ui-sortable-helper{

}

.tarefa.completed {
    background: #58ffab;
}

/* EDIÇÃO DAS TAREFAS */
.areaText {
    box-sizing: border-box;
    width: auto;
}

.edit-text {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #d3d3d3;
    background: #d3d3d3;
    border-radius: 5px;
    word-wrap: break-word;
    margin: 0 10px;
}

/* RODAPE */
.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 5%;
}

.rodape .img-logo {
    max-width: 100px;
    width: 100%;
    border-radius: 500px;
}