/* GERAL */
:root {
    --azul-médio: #134074;
    --azul-escuro: #0b2545;
    --azul-claro: #8da9c4;
    --claro: #eef4ed;
}

body {
    background-color: var(--claro);
}

* {
    color: var(--azul-escuro);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.1em;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha:not(.btn-principal) {
    margin: 30px auto;
    ;
}

/* BOTÃO */
button {
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    position: relative;
    color: var(--azul-escuro);
    transition: .5s ease;
}

button:hover {
    background-color: var(--azul-escuro);
    color: var(--claro);
}



.areaBotoes button:not(:last-of-type) {
    margin-right: 5px;
}

/* CONTEUDO */
.conteudo-principal {
    max-width: 600px;
    width: 90%;
    margin: 50px auto;
    position: relative;
    padding: 40px 15px;
    background: var(--azul-claro);
    border-radius: 2px;
    box-shadow: 0 0 10px #00000069;
}

/* BOTOES PRINCIPAIS */
.btn-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* TEXTAREA */
.texto {
    margin-bottom: 10px !important;
}

.texto textarea {
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid var(--claro);
    resize: none;
    box-sizing: border-box;
    border-radius: 2px;
    overflow: hidden;
}

/* TAREFA */
.tarefa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 15px;
    background: var(--claro);
}

.tarefa.ui-sortable-helper {
    box-shadow: 0 0 10px #00021885;
}

.tarefa.completed {
    background: #58ffab;
}

/* EDIÇÃO DAS TAREFAS */
.areaText {
    box-sizing: border-box;
    width: auto;
}

.edit-text {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--claro);
    background: var(--claro);
    border-radius: 5px;
    word-wrap: break-word;
    margin: 0 10px;
}

/* RODAPE */
.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 5%;
}

.rodape .img-logo {
    max-width: 100px;
    width: 100%;
    border-radius: 500px;
}